*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    letter-spacing: 1ch;
}
.container{
    max-width: 1170px;
    width: 80%;
    margin: 0 auto;
}
p{
    letter-spacing:initial;
    font-size: 16px;
}
header{
    background: #1a1a1a;
    height: 60vh;
    padding: 20px;
}
.top-header{
    height: 7%;
    display: flex;
    justify-content: space-between;
}
.top-header img{
    max-width: 30px; 
    max-height: 30px;
    min-width: 20px; 
    min-height:20px;
    height: 100%;
}
.header-content{
    display: flex;
    justify-content: center;
    color: white;
    flex-direction: column;
    text-align: center;
    height: 93%;
}
.header-content h1{
    font-size: 20px;
    margin-bottom: 1%;
    font-weight:100;
}
.header-content h2{
    font-size: 12px;
    font-weight:100;
    margin-top:1%;
}
.yellow-link{
    background: #ffe500;
    text-transform: uppercase;
    padding: 16px 34px;
    margin: 36px auto;
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight:600;
}.info{
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-container img{
    width: 20%;
    max-width: 157px;
    margin-bottom: 6%;
}
.info-container p{
    font-size: 14px;
    color: #707070;
    letter-spacing: initial;
    width: 70%;
    line-height: 1.5rem;
}

.services{
    background: #f4f4f4;
    /* height: 100vh; */
    padding: 85px 0 36px;
    text-align: center;
}
.services h1{
    font-size: 20px;
    color: #1b1b1b;
    text-transform: uppercase;
    font-weight: 100;
    margin: 24px auto;
}
.services p{
    font-size: 12px;
    color: #707070;
    font-weight: 100;
    margin: 0px auto;
    line-height: 1.5rem;
}
.service-names{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2%;
}
.service-card{
    background: white;
    padding: 48px 28px 24px;

    
}
.service-card h2{
    font-size: 15px;
    text-transform: uppercase;
    color: #1b1b1b;
    margin: 32px 0;
    line-height: 1.6;
}
.service-card p{
    font-size: 12px;
}
.card-info{
    padding: 12px;
    background: white;
    text-align: left;
    font-size: 12px;
    letter-spacing: initial;
    font-weight: 600;
}
.ps{
    background: #f4f4f4;
    height: 5px;
    width: 100%;
    margin: 12px 0;
}
.ps div{
    height: 5px;
    background: #ffe500;
    width: 90%;  
}
.achievement{
    background: #1a1a1a;
}
.achievement-container{
    padding: 84px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2%;
}
.achievements{
    background: white;
    padding: 16px;
    font-size: 15px;
    letter-spacing: .5ch;
    font-weight: 600;
}
.achievements p{
   font-size: 12px;
   color: #1b1b1b;
   text-transform: uppercase;
}